<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @image.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>File:</strong>
  <img src="<%= @imgHtml %>" alt="CandyBox Image" height="100" width="100">
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
